.footer-section{}
.footer-section p{
    width: 100%;
    background-color: #111827;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem 0;
}
.footer-section .footer{
    width: 100%;
    display: flex;
    justify-content: space-evenly;  
}
.footer-section .footer > ul{
    list-style: none;
    padding: 5rem 0;
}
.footer-section .footer ul li, a.social-icon{
    text-decoration: none;
    font-size: 2rem;
    color: white;
    margin-bottom: 1rem;
    text-align: center;
    transition: 0.5s;
}
.footer-section .footer ul li a:hover{
    text-decoration: underline;
    font-size: 2rem;
    color: rgb(17, 0, 255);
}
.footer-section .footer ul li a.telephone{
    color: white;
    text-decoration: none;
    transition: 0.3s;
}
.footer-section .footer ul li a.telephone:hover{
    text-decoration: underline;
}
.footer-section .footer ul li:last-child{
    margin-bottom: 0;
}
.footer-section .footer ul li:nth-child(1){
    font-size: 2.5rem;
    color: white;
    text-transform: uppercase;
    margin-bottom: 2rem;
}
.footer-section .footer ul:nth-child(1){
    background: #1F2937;
    width: 50%;
}

.footer-section .footer  ul:nth-child(2){
    background: #111827;
    width: 50%;
}
.footer-section .footer ul li .social-icon{
    font-size: 3rem;
    margin-right: 2rem;
    transition: 0.5s;
    cursor: pointer;
}
.footer-section .footer ul li .social-icon:last-child{
    margin-right: 0;
}
.footer-section .footer ul li .social-icon:hover{
    color: #EEFF25;
}
